@font-face{
	font-family: RPToolfont;
	src : url(GeosansLight.ttf); 
} 

body{ 
font-family: RPToolfont;
font-size: 20px; 
}

ul {
    list-style: none 
}

select{
    font-size: 20px;
    margin-bottom:3px; 
}

input.form-control{
    width: 380px; 
    font-size:18px
}

a, button{
    color: black; 
    font-size:20px; 
}
input[type="checkbox"] {
    width: 15px; 
    height: 15px;  
    margin-right: 8px; 
    margin-top: 6px; 
    float: left;
}

.navbar-form .form-control{
    width: 400px; 
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

H1 {
	color: #003082;  
    
}

.btn {

    font-size: 18px;
} 

label.small{
    font-size: 17px;
    margin-left:0px;  
    
    width: 65px;
}

label {
    margin-left:-35px; 
    font-size: 18px;
    width: 120px;
}
td.deeltdgroot{
    width: 135px;
}

.logoutname {
   font-size:24px; 
   color: #003082;
}

.lighty{
    background-color: #FFF9E8
} 

.inputfile + label,   a.backBtn {
	width:475px;
	background-color : #FFC917; 
	border:0px; 
	display: block;
	padding:10px; 
	text-align: center; 
	font-size: 20px;  
	color: #003082;  
    
	font-family: "RPToolfont", "Arial"; 
	cursor: pointer;
}

button.exp {
	background-color : #FFC917; 
	border:0px; 
	color: #003082;  

}


button.del {
	background-color : #DC0000; 
	border:0px; 
	color: #FFFFFF;  

}

.tableheader {
	background-color : #FFC917; 

	color: #002360;  
} 

th {
    font-size: 24px; 
}

.inputfile + label:hover + button.exp:hover {
    background-color: #007BDD;
}

.login{
    margin-left: 20px; 
}

.overview {
    height: auto;
}

li.box {
    display: inline-block;
    position: relative;
    width: 190px;
    height: 200px;
    background: #FFC917;
    padding : 20px;
    text-align:center;
    z-index: 0;
    margin: 2px 2px 2px -2px;
    transition: all .15s ease-in-out;
}

a.box{
    color: #003082; 
}
a.box:hover{
    color: white; 
}

.box:hover {
    background: #007BDD;
    z-index: 100;
    transform: scale(1.2,1.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}

.lg { 
font-size: 117px; 
} 

.md { 
font-size: 63px; 
} 

.user-info{

margin-right: 45px; margin-bottom: 10px; padding: 5px 30px 10px 30px; border: solid 1px Gainsboro;  background: white; text-align: center; font-size:16px; 
}

a.list-group-item:focus, button.list-group-item:focus{
    background-color: #E6EAF2; 
} 

.nomargin{
    margin-bottom: 0px; 
}

.marginbody{
    margin-top: 15px;  
}

a.unactive{
    color: #545454; 
}
a.unactive:hover{
    color: #a8a8a8; 
}

.unactive:hover {
    background: #7e7e7e;
    z-index: 100;
    transform: scale(1.1,1.1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    cursor: default;
}

li.unactive {
    display: inline-block;
    position: relative;
    width: 190px;
    height: 200px;
    background: #a8a8a8;
    padding : 20px;
    text-align:center;
    z-index: 0;
    margin: 2px 2px 2px -2px;
    transition: all .15s ease-in-out;
}

.btn-nsblue{
    background-color: #003082;
    
    color: white;
}

.edit {
   width: 50px;
   } 

H1{
	color: #003082; 
}

H2 {
	color: #464646;
	font-size: 26px; 
	font-style:bold; 
}

body{ 
	font-family: "RPToolfont", "Arial"; 
	color: #464646; 
    font-size: 18px; 
} 

.inputfile + label, button, a.backBtn{
	background-color : #FFC917; 
	border:0px; 
	display: block;
	padding:10px; 
	text-align: center; 
	font-size: 18px; 
    margin-bottom: 15px; 
	color: #003082;  
	font-family: "RPToolfont", "Arial"; 
	cursor: pointer;
}

.searchbtn+ label{
	display: inline-block;
	width:23%;
	background-color : #003082; 
	border:0px; 
	padding:9px; 
	text-align: center; 
	color: white;  
	font-family: "RPToolfont", "Arial"; 
	cursor: pointer;
}

.inputfile + label:hover, button:hover, .searchbtn+ label:hover{
    background-color: #007BDD;
	color: white; 
}

img.help {
	width: 35px;
	height:35px; 
	float:right; 
}


.user-input{
	color:#429DE5; 
	display: inline-block; 
}
.tool-window{
	width: 400px; 
	padding-left: 20px;  
} 

.inputfile, .searchbtn {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
 

.input-field{
	padding: 7px; 
	border: solid 1px #464646 ;	
	color: #b3b3b3; 
	width:100%;
}

.upload-input{
	padding: 8px; 
	border: solid 1px #464646 ;	
	color: #b3b3b3; 
	width:75.5%;
}

.logoutname {
   font-size:24px; 
   color: #003082;
}

.logout{
    font-size: 18px;
    }

.user-info{

margin-right: 45px; margin-bottom: 10px; padding: 5px 30px 10px 30px; border: solid 1px Gainsboro;  background: white; text-align: center; font-size:16px; 
}

.window {
	position: absolute; 
	border: solid black 1px; 
	width: 1175px;
	height: 510px; 
	padding: 100px; 
} 

.right { 
	float: right; 
 margin-left:15px; 
}

.left { 
 margin-right:15px; 
	
	float: left; 
}

.menu {
	background-color: #003082;  
}

.side{

 position: relative; 
	width : 100px; 
	height : 510px; 
}

.h {  
 height: 120px; 
 width: 445px; 
} 

.content{
 height: 390px; 
 width: 445px; 
	border: solid black 1px; 
}

ul {
    list-style: none 
}

input[type="text"] {
    width: 65px;
}
input[type="text"].large {
    width: 200px;
    font-size: 13px;
}

a, button{
    color: black; 
}
input[type="checkbox"] {
    width: 15px; 
    height: 15px;  
    margin-right: 8px; 
    margin-top: 6px; 
    float: left;
}


label {
    margin-left:-35px; 
    font-size: 13px;
    width: 82px;
}
td.deeltdgroot{
    width: 135px;
}







