<script language="javascript">


  
    function changeState(btn, id) {
    
    var x = document.getElementsByClassName("pull-right glyphicon glyphicon-chevron-up");

    for (i = 0; i < x.length; i++) {
        x[i].className = "pull-right glyphicon glyphicon-chevron-down";
    }

        if (document.getElementById(id).className == "pull-right glyphicon glyphicon-chevron-down") 
        {
            document.getElementById(id).className = "pull-right glyphicon glyphicon-chevron-up";
        }
        else 
        {
            document.getElementById(id).className = "pull-right glyphicon glyphicon-chevron-down";
        }
    }
    
    </script>
<div class="header">
	<h1> WTS tool </H1>

	
	<div class="search-group">
		<form action="" method="get" class="navbar-form navbar-left paddingless">
				<input type="text" onkeypress="return event.keyCode!=13" ng-model="filtertext" id="search" name="search" class="form-control search" placeholder="Zoek station.."
				/>
		</form>
	</div>

<button type ="button" data-toggle="collapse" data-target="#importform" class="btn btn-nsblue nav-pills navbar-btn"> Excel importeren </button> 


<div class="btn-group">
  <button type="button" class="btn dropdown-toggle exp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Exporteren <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" onclick="angular.element(this).scope().zipHTM()">ContentLocker/ Sharepoint</a></li>
    <li><a href="#" onclick="angular.element(this).scope().zipExcel()">Excel</a></li>
    <li><a href="#" onclick="angular.element(this).scope().zipORP()">ORP</a></li>
    <li><a href="#" onclick="angular.element(this).scope().zipRailpocket()">Railpocket</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#" onclick = "angular.element(this).scope().zipAll()">All</a></li>
  </ul>
</div>

<div id="importform" class = "collapse" style="margin-left: 50px" > 
    <form action="" method="post" enctype="multipart/form-data" > 
    
    	<p><input type='file' name="file_field" accept="*.xlsx" id="file_field" class ="inputfile" value="file_field" onchange="angular.element(this).scope().startImport(this.files)">  
        <label for="file_field">Selecteer bestand</label> </p>
    <br>
</form> 
</div> 

</div>

	<div ng-if="!isLoading()" class="list-group" id="datagroup">
		<p> Aantal WTS records: {{ aantal }} </p>
		<div class="panel panel-default nomargin" ng-repeat="station in stationList |  orderBy:'afkorting' | filter: filtertext">

			<a class="list-group-item" data-toggle="collapse" data-parent="#datagroup" ng-click="showWts(station)">

        {{ station.displayName }}
         <!--<span class="pull-right glyphicon glyphicon-chevron-down"></span>-->
 </a>
			<div ng-if="station.showWts && station.wts.length > 0" >
				<table class="table">
				<tr class="panel-heading">
					<th><b>Spoor</b></th>
					<th><b>Richting</b></th>
					<th><b>Vertreklicht</b></th>
					<th><b>Sein</b></th>
					<th><b>Boog</b></th>
					<th><b>Medewerkerskast</b></th>
					<th><a ng-href="/wts/{{station.naam}}" ><button class="btn btn-nsblue edit"><span class="glyphicon glyphicon-pencil"></span></button></a></th>

				</tr>

				<tr ng-repeat="wts in station.wts |  orderBy:['spoornr', 'deel_spoor']">
					<td> {{ wts.spoor }} </td>
					<td> {{ wts.richting }} </td>
					<td> {{ wts.vlicht }} </td>
					<td> {{ wts.sein }} </td>
					<td> {{ wts.boog }} </td>
					<td> {{ wts.mdw }} </td>
				</tr>

				</table>
				<div class="panel-footer panel-default"> Laatst gewijzigd op: {{ station.wijzigingsDatum }} </div>
			</div>
		</div>
	</div>

	<div ng-if="isLoading()" style ="height:350px; display: flex;align-items: center;justify-content: center">
		<p> <img src="img/loader.gif" style="width: 250px; height: 250px" /> </p>
	</div>
	<!--<div ng-if="isLoading()" style ="display: flex;align-items: center;justify-content: center">
		<p> {{ percentage_tekst }} </p>
	</div>	-->
