
<div ng-show="!isLoading()" >
    <div style="margin-left: 10px;" >
<h2 > Station: {{ station }} </h2> 



  <p>
<div style="margin-left: 10px;" >
<button class="btn  btn-lg exp" ng-click="saveWts()" ng-disabled="myForm.$invalid">
  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Wijzigingen opslaan
</button>
 <button type="button" class="btn btn-primary btn-lg" id="add" ng-click='addRow()'>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Regel toevoegen
</button>
<a ng-href= "/wts" class="btn btn-primary btn-lg" >
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Wijzigingen annuleren
</a>
</p>

<p>
</div> 
 </nav>
 <form action="" method="post" name ="myForm" enctype="multipart/form-data">
 <p>


</p>

<table class = "table"> 
<tr class = "tableheader" > 
        <th colspan="2"><b>Spoor</b></th>
        <th><b>Richting</b></th>
        <th colspan="2"><b>Vertreklicht</b></th>
        <th colspan="2" ><b>Sein</b></th> 
        <th><b>Boog</b></th> 
        <th colspan="2" ><b>Medewerkerskast</b></th>
        <th></th>
     </tr>

<tr ng-repeat="w in wts" id="tablerow" class= "item ">
    <td class = "deeltd">
        <select name="spoor" ng-model = "w.spoor" ng-options="n for n in [] | range:1:21" >           
        </select>
        </td>
        <td class = "deeltd">
        <label class="small">Deelspoor</label><br>
        <input type="checkbox" name="deel_spoor_a" ng-model="w.deel_spoor" ng-click="w.deel_spoor = 'A'" ng-checked="w.deel_spoor == 'A'"/><label class="small">A</label><br>
        <input type="checkbox" name="deel_spoor_b" ng-model="w.deel_spoor" ng-click="w.deel_spoor = 'B'" ng-checked="w.deel_spoor == 'B'"/><label class="small">B</label><br>
        
         </td>      
   
    <td><input type="text" name="richting" ng-model = "w.richting" required />
    <div class="bg-danger" ng-show="!w.richting.length"> Vul altijd een richting in </div>
    </td> 
    <td class = "deeltd">
         <input type="checkbox" name="vlicht_ja" ng-click="w.vlicht_aantal = 0" ng-checked="w.vlicht_aantal > -1"/><label class="small">Ja</label><br>
        <input type="checkbox" name="vlicht_nee" ng-click="w.vlicht_aantal = -1" ng-checked="w.vlicht_aantal < 0"/><label class="small">Nee</label><br>
      
     </td> 
    <td class = "deeltd">
    <div ng-show="w.vlicht_aantal >= 0 && w.vlicht_aantal != null">
    <label class="small">Aantal</label><br>
    {{}}
    <select name="vlicht_aantal" ng-model = "w.vlicht_aantal"  >
        <option value="0">-</option>         
        <option ng-repeat="n in [1,2,3,4]" ng-value="{{ n }}" > {{ n }}</option>
    </select> <br>
         <input type="checkbox" name="dbz" ng-model="w.vlicht_dbz" ng-checked="w.vlicht_dbz"/><label class="small">Dubbelzijdig</label><br>
    </div>
    </td> 
    <td class = "deeltdgroot">
        <input type="checkbox" name="sein_ja" ng-model="w.sein_aanwezig" ng-click="w.sein_aanwezig='ja'" ng-checked="w.sein_aanwezig == 'ja'"/><label class="small">Ja</label><br>
        <input type="checkbox" name="sein_nee" ng-model="w.sein_aanwezig"  ng-click="w.sein_aanwezig='nee'"  ng-checked="w.sein_aanwezig == 'nee'"/><label class="small">Nee</label><br>
        <input type="checkbox" name="sein_invoer" ng-model="w.sein_aanwezig"  ng-click="w.sein_aanwezig='invoer'"  ng-checked="w.sein_aanwezig == 'invoer'"/><label class="small">Invoeren</label><br>
        
        </td>
        <td class = "deeltd">
        <div ng-show="w.sein_aanwezig == 'invoer'">
        <label class="small">Seinen</label><br>
         <input type ="text" name="sein" ng-model = "w.seinen[0]"/> <br>
         <input type ="text" name="sein_extra" ng-model = "w.seinen[1]"/> <br>
        </div>
        </td>
    <td> <input type="checkbox" name="sein_ja" ng-model="w.boog" ng-click="w.boog = true" ng-checked=" w.boog == true"/><label class="small">Ja</label><br>
        <input type="checkbox" name="sein_nee" ng-model="w.boog" ng-click="w.boog = false" ng-checked="w.boog == false"/><label class="small">Nee</label><br>
        </td> 
    <td>
        <input type="checkbox" name="mdw_ja" ng-click="w.mdw_aantal = 0" ng-checked="w.mdw_aantal > -1"/><label class="small">Ja</label><br>
        <input type="checkbox" name="mdw_nee" ng-click="w.mdw_aantal = -1" ng-checked="w.mdw_aantal < 0"/><label class="small">Nee</label><br>
   
     </td> 
    <td class = "deeltdsmall">
    <div ng-show="w.mdw_aantal > -1 ">
    <label class="small">Aantal</label><br>
    <select name="mdw_aantal" ng-model = "w.mdw_aantal" >
        <option value="0">-</option>         
        <option ng-repeat="n in [1,2,3,4]" ng-value="{{ n }}" > {{ n }}</option>
    </select> <br>
     </div>

    <td>  <button type="button" id ="delete" ng-click='deleteRowConfirmation(w)' class="btn btn-primary btn-lg del" >
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button> </td> 
<!--<script> 
    prepareCheckBoxes(); 
    setScript({{ forloop.counter0 }}); 
</script> -->

</tr>
<td colspan ="11">
{{ w.spoor.errors }}
<!--{% if form.spoor.errors %}-->
 <br>
 <!--{% endif %}-->
{{ w.richting.errors }} 


</td>
<!--</tr> 
{% endif %} 
{% endfor %}-->

</table> 

</form>
<div class="panel-footer">  <p>
<div style="margin-left: 10px;" >
<button class="btn  btn-lg exp" ng-click="saveWts()" ng-disabled="myForm.$invalid">
  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Wijzigingen opslaan
</button>
 <button type="button" class="btn btn-primary btn-lg" id="add" ng-click='addRow()'>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Regel toevoegen
</button>
<a ng-href= "/wts" class="btn btn-primary btn-lg" >
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Wijzigingen annuleren
</a>
</p>

<p>
</div> </div>
</div>

 	<div ng-if="isLoading()" style ="height:350px; display: flex;align-items: center;justify-content: center">
		<p> <img src="img/loader.gif" style="width: 250px; height: 250px" /> </p>
	</div>

<!--{% endblock %}-->